<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="styles.css">
</head>

<body>
    <header>
        <p class="firstTitle">SiMAEC</p>
    </header>

    <main>

        <p class="firstMessage">Inicia sesión</p>
        <div class="SignLog-container">
            <form action="/login" method="POST">
                <div class="signlog-item">
                    <label for="txtUser">Usuario:</label>
                </div>
                <div class="signlog-item">
                    <input type="text" name="txtUser" id="txtUser" required>
                </div>
                <div class="signlog-item">
                    <label for="txtPassword">Contraseña:</label>
                </div>
                <div class="signlog-item">
                    <input type="password" name="txtPassword" id="txtPassword">
                </div>
                <div class="signlog-item">
                    <button class="signin-btn" name="btnLogin" id="btnLogin">Entrar</button>
                </div>
            </form>
            
        </div>

    </main>

</body>

</html>